section.block.block2
	.container 
		.items 
			.item
				.item__body 
					.item__title.title Отправляйте деньги куда угодно бесплатно
					.item__text.text2 Вам нужен только номер телефона получателя и ваш WFC кошелек для перевода криптовалюты на международном уровне. Получатели получают деньги, даже если у них еще нет приложения. Никаких сборов. Никакого ожидания. Никаких ограничений.
				.item__img 
					.item__img-inner
						img(src="images/block2/1.png", alt="alt")
			.item
				.item__body 
					.item__title.title Cамый быстрый способ вывести криптовалюту
					.item__text.text2 Получите доступ к своим деньгам за считанные секунды, обналичив свои криптовалюты на любую из ваших карт. Мгновенная доставка гарантирована.
				.item__img 
					.item__img-inner
						img(src="images/block2/2.png", alt="alt")
			.item
				.item__body 
					.title Самый простой и быстрый способ купить криптовалюту
					.item__text.text2 Кошелек взимает комиссию 0% с вашей первой покупки криптовалюты, когда вы платите любым фиатом с вашей карты Visa или MasterCard. И все последующие покупки несут невероятно крошечную комиссию
				.item__img 
					.item__img-inner
						img(src="images/block2/3.png", alt="alt")