section.block
	.container 
		.items 
			.item
				.item__body 
					.item__title.title Зарабатывайте 20% на криптовалюте
					.item__text.text2 Заставьте ваши бездействующие цифровые активы работать на вас с White finance. Начните зарабатывать до 20% годовых, выплачиваемых ежедневно.
				.item__img 
					.item__img-inner
						img(src="images/block1/1.png", alt="alt")
			.item
				.item__body 
					.item__title.title Карта White finance
					.item__text.text2 Подайте заявку на виртуальную карту White finance и получите самую быструю выдачу карты в истории. Пополните его прямо со своего кошелька, подключитесь к ApplePay и будьте готовы платить в любом месте и в любое время.
				.item__img 
					.item__img-inner
						img(src="images/block1/2.png", alt="alt")
			.item
				.item__body 
					.title Выводите криптовалюту в любое время и мгновенно
					.item__text.text2 Всякий раз, когда вам нужны дополнительные наличные, используйте White finance чтобы отправить криптовалюту прямо на ваши карты за считанные секунды.
				.item__img 
					.item__img-inner
						img(src="images/block1/3.png", alt="alt")