section.cards#cards
	.container 
		.cards__row 
			.cards__card-wrapper
				img(src="images/cards/1.png", alt="alt")
				.cards__card.card  
					.card__title Оплачивай
					.card__text.text3 Получите бесплатную виртуальную карту всего за несколько минут
			.cards__card-wrapper
				img(src="images/cards/2.png", alt="alt")
				.cards__card.card  
					.card__title Храни
					.card__text.text3 Снимайте наличные в
						br
						|банкоматах в 200+ странах мира
			.cards__card-wrapper
				img(src="images/cards/3.png", alt="alt")
				.cards__card.card  
					.card__title Бери
					.card__text.text3 Получайте кешбкек в крипте
			.cards__card-wrapper
				img(src="images/cards/4.png", alt="alt")
				.cards__card.card  
					.card__title Конвертируй
					.card__text.text3 Совершайте покупки онлайн и офлайн в розничных магазинах по всему миру