section.hero
	.hero__back-left 
		img(src="images/hero/back-left.png", alt="alt")
	.hero__back-right 
		img(src="images/hero/back-right.png", alt="alt")
	.hero__back-bottom-mob 
		img(src="images/hero/back-bottom-mob.svg", alt="alt")
	.hero__container.container
		.hero__body
			.hero__title
				span White finance 
				|первая в России платежная система позволяющия  совершать покупки в криптовалюте
			.hero__text.text1 Выгодно и быстро обменивайте криптовалюту через наш сервис используя новейшие технологии блокчейн индустрии
			form.hero__form(action="#")
				.hero__form-input.input 
					input(type="text" name="hero-email" placeholder="Ваш Email...")
				button.hero__form-btn.btn Получить карту
		.hero__img
			.hero__img-inner.ibg
				img(src="images/hero/hero-img.png", alt="alt")
		.hero__img-mob.ibg
			img(src="images/hero/hero-img-mob.png", alt="alt")
