section.order#order
	.container
		.order__title.title Закажи карту прямо сейчас
		form.order__form(action="#")
			.order__input.input 
				input(type="text" name="order-email" placeholder="Ваш Email...")
			button.order__btn.btn Получить карту