section.partners#partners
	.container 
		.partners__title.title Наши партнеры
		.partners__items 
			.partners__row 
				.partners__item.partners__item1 
					img(src="images/partners/1.svg", alt="alt") 
				.partners__item.partners__item2 
					img(src="images/partners/2.svg", alt="alt") 
				.partners__item.partners__item3 
					img(src="images/partners/3.svg", alt="alt") 
				.partners__item.partners__item4 
					img(src="images/partners/4.svg", alt="alt") 