
.popap
	.popap__back
	.popap__container 
		img(src="images/p.png", alt="alt").circle-back-p
		.popap__content 
			.popap__title.title Получите мгновенно и бесплатно
			.popap__text.text3 Так же, как и пластиковая карта White finance, ее выдача зависит от нас. Если у вас есть как пластиковая, так и виртуальная карта, вы все равно платите единый сбор.
			.popap__subtitle Оставте свой E-mail для получения карты
			form.popap__form(action="#")
				.popap__input.input 
					input(type="text" name="popap-email" placeholder="Ваш Email...")
				button.popap__btn.btn Получить карту 