section.safety 
	img(src="images/p.png", alt="alt").circle-back-p
	.container 
		.safety__row 
			.safety__body 
				.safety__title.title Получайте средства мгновенно. Сохраняйте свою криптовалюту
				.safety__text.text2 Занимайте без продажи своей криптовалюты по ставкам, начинающимся с 0% годовых. Просто пополните счет, и ваша кредитная линия будет доступна немедленно.
			.safety__img 
				.safety__img-inner.ibg
					img(src="images/safety/1.png", alt="alt")
			.safety__body 
				.safety__title.title Оставайтесь цифровыми, оставайтесь в безопасности
				.safety__text.text2 Дополнительный уровень безопасности для всех ваших онлайн-транзакций. Простой, но эффективный способ защитить себя от мошенников