section.steps#steps
	.container
		.steps__title.title 
			span Простые шаги 
			|для получения вашей карты
	.steps__container
		.steps__line 
		.steps__items
			.item-steps.item-steps-1
				.item-steps__inner-wrapper
					.item-steps__icon 
						img(src="images/steps/11.svg", alt="alt")
					.item-steps__inner
						.item-steps__num 1
						.item-steps__descr.text1 Создайте свой<br> кошелек
			.item-steps.item-steps-2
				.item-steps__inner-wrapper.item-steps__inner-wrapper--r
					.item-steps__icon 
						img(src="images/steps/11.svg", alt="alt")
					.item-steps__inner
						.item-steps__num 2
						.item-steps__descr.text1 Выберите<br> предпочитаемый тип<br> карты
			.item-steps.item-steps-3
				.item-steps__inner-wrapper
					.item-steps__icon 
						img(src="images/steps/11.svg", alt="alt")
					.item-steps__inner
						.item-steps__num 3
						.item-steps__descr.text1 Заполните свои данные<br> и оплатите доставку
			.item-steps.item-steps-4
				.item-steps__inner-wrapper
					.item-steps__icon 
						img(src="images/steps/11.svg", alt="alt")
					.item-steps__inner
						.item-steps__num 4
						.item-steps__descr.text1 Подтвердите свою<br> личность и получите<br> одобрение в считанные<br> минуты
			.item-steps.item-steps-5
				.item-steps__inner-wrapper
					.item-steps__icon 
						img(src="images/steps/11.svg", alt="alt")
					.item-steps__inner
						.item-steps__num 5
						.item-steps__descr.text1 Активируйте свою карту<br> и отправляйтесь за<br> покупками!