header.header 
	.header__container.container 
		.logo 
			img(src="images/logo.svg", alt="alt")
		nav.menu
			ul.menu__list
				li.menu__item 
					a.menu__link.click(href="#cards") Описание
				li.menu__item 
					a.menu__link.click(href="#steps") Получить
				li.menu__item 
					a.menu__link.click(href="#calculator") Калькулятор
				li.menu__item 
					a.menu__link.click(href="#partners") Партнеры
				li.menu__item 
					a.menu__link.click(href="#order") Карта
		select.header__lang 
			option RU
			option EN