extends ../layouts/default

block vars
	-
		const page = {
			title: 'Главная'
		};

block main
	include ../blocks/hero
	include ../blocks/cards
	include ../blocks/block1
	include ../blocks/steps
	include ../blocks/calculator
	include ../blocks/safety
	include ../blocks/partners
	include ../blocks/block2
	include ../blocks/order
	